.col-xs-8#users-content
  .users-wrap
    .user-list
      %h2 ユーザー一覧
    = render partial: "users/user", collection: @users
/         %td= link_to 'Edit', edit_user_path(user)
/         %td= link_to 'Destroy', user, :method => :delete, :data => { :confirm => 'Are you sure?' }

/ %br

/ = link_to 'New User', new_user_path
